---
import projects from './../../data/projects.json'
import Project from './Project.astro'
// TODO create component tag and button and project item
---
<section class="section projects">
    <h1 class="title has-text-centered has-text-accent mb-3">Proyectos</h1>
    {projects.map(project => <Project project={project}/>)}
</section>
