/* TAG */
.tag {
  align-items: center;
  background-color: var(--light);
  border-radius: var(--b-radius);
  color: var(--primary);
  display: inline-flex;
  font-size: 0.75rem;
  height: 2em;
  justify-content: center;
  line-height: 1.5;
  padding-left: 0.75em;
  padding-right: 0.75em;
  white-space: nowrap;
}

/* BOX */

a.box:active,
a.box:hover {
  box-shadow: inset 0 1px 2px rgb(10 10 10 / 20%), 0 0 0 1px var(--accent);
}

/* BUTTON */
.button {
  background-color: var(--white);
  border-color: var(--light);
  border-width: 1px;
  color: var(--text-color);
  cursor: pointer;
  justify-content: center;
  padding: calc(0.5em - 1px) 1em;
  text-align: center;
  white-space: nowrap;

  -moz-appearance: none;
  -webkit-appearance: none;
  align-items: center;
  border: 1px solid transparent;
  box-shadow: none;
  display: inline-flex;
  font-size: 1rem;
  line-height: 1.5;
  position: relative;
  vertical-align: top;
  border-radius: var(--b-radius);
}

.button.is-accent {
  background-color: var(--accent);
  border-color: transparent;
  color: var(--text-color);
}

.button .icon {
  height: 1.5em;
  width: 1.5em;
}

.button.is-dark {
  background-color: var(--dark);
  border-color: transparent;
  color: var(--white);
}
