/* TAG */
.tag {
  align-items: center;
  background-color: var(--light);
  border-radius: var(--b-radius);
  color: var(--primary);
  display: inline-flex;
  font-size: 0.75rem;
  height: 2em;
  justify-content: center;
  line-height: 1.5;
  padding-left: 0.75em;
  padding-right: 0.75em;
  white-space: nowrap;
}

/* BOX */
