#inicio {
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-direction: column;
    font-size: $space-ultra;


    .container-intro{
        display: flex;
        flex-direction: column;
        justify-content: center;

        flex: 1;
        position: relative;
        padding: 40px;
        width: 50vw;

        @media (max-width: 1000px) {
            width: auto;
        }

        h1 {
            color: $accent;
            strong {
                color: $primary;
            }
        }

        .container-contact{
            margin: $space-normal auto 0 auto;
            text-align: center;
        }
    }
    

    .menu {
        display: flex;
        flex-direction: column;
        width: 100%;
        text-align: center;

        a {
            margin: 0px;
            padding: $space-normal;
            &:first-child {
                border-top: 1px solid black;
            }
            border-bottom: 1px solid black;
        }
    }
}
