#stack {
    .stack-container {
        display: grid;
        grid-template-columns: repeat(auto-fit, minmax(90px, 1fr));
        justify-content: center;
        align-items: center;
        align-content: center;
        grid-gap: $space-normal;
        svg,
        .custom-logo {
            font-size: 3rem;
        }
        .fa-react {
            color: rgb(103, 220, 249);
        }

        .fa-angular {
            color: #c3002f;
        }

        .fa-node-js {
            color: #8bc500;
        }

        .fa-js {
            color: #e9d44d;
        }

        .fa-html5 {
            color: #e96228;
        }

        .fa-docker {
            color: #2391e6;
        }

        .fa-vuejs {
            color: #3fb27f;
        }

        .fa-php {
            color: #7377ad;
        }

        .fa-css3-alt {
            color: #28a4d8;
        }
        .custom-logo {
            width: 0.875em;
            display: inline-block;
            height: 1em;
            overflow: visible;
            vertical-align: -0.125em;
            background-repeat: no-repeat;
            vertical-align: -0.125em;
        }
        .mongo {
            background-image: url("/assets/stack/mongo.svg");
        }
        .express {
            background-image: url("/assets/stack/express.svg");
        }
        .mysql {
            background-image: url("/assets/stack/mysql.svg");
        }
        .postgresql {
            background-image: url("/assets/stack/postgresql.svg");
        }
        .sass {
            background-image: url("/assets/stack/sass.svg");
        }
        .ts {
            background-image: url("/assets/stack/ts.svg");
        }
        .git {
            background-image: url("/assets/stack/git.svg");
        }
        .ionic {
            background-image: url("/assets/stack/ionic.svg");
        }
    }
}
