$light: #eceff1;
$dark: #424242;
$primary: #215e8e;
$accent: #289986;

$space-small: 0.2rem;
$space-medium: 0.7rem;
$space-normal: 1rem;
$space-big: 1.5rem;
$space-ultra: 2rem;

$b-radius: 5px;
$box-shadow: 0px 0px 10px 0px #cacaca;
