---
const { href, target, ...props } = Astro.props
---

<style lang="scss">
@import '../scss/variables';

.btn {
  background-color: $white;
  border-color: $light;
  border-width: 1px;
  color: $text-color;
  cursor: pointer;
  justify-content: center;
  padding: calc(0.5em - 1px) 1em;
  text-align: center;
  white-space: nowrap;

  -moz-appearance: none;
  -webkit-appearance: none;
  align-items: center;
  border: 1px solid transparent;
  box-shadow: none;
  display: inline-flex;
  font-size: 1rem;
  line-height: 1.5;
  position: relative;
  vertical-align: top;
  border-radius: $b-radius;
  transition: box-shadow 0.5s cubic-bezier(0.165, 0.84, 0.44, 1);

  &.ghost{
    background-color: transparent;
    color: $accent;
    padding: 0px;
    &:hover{
      box-shadow: none;
    }
  }

  &.is-accent {
    background-color: $accent;
    border-color: transparent;
    color: $text-color;
    &:hover{
      box-shadow: $bx-shadow-accent;
    }
  }

  &.is-dark {
    background-color: $dark;
    border-color: transparent;
    color: $white;
  }
  &:hover{
    box-shadow: $bx-shadow;
  }

}
</style>

<>
  {href ?
  <a rel="noopener noreferrer" class={`btn ${props.class}`} target={target} href={href}><slot/></a>:
  <button class={`btn ${props.class}`}><slot/></button>}
</>
