/* SPACE HELPER */

@for $index from 0 to 7 {
    .m-#{$index} {
        margin: #{$index * $multiplierSpace}rem !important;
    }
    .mt-#{$index} {
        margin-top: #{$index * $multiplierSpace}rem !important;
    }
    .ml-#{$index} {
        margin-left: #{$index * $multiplierSpace}rem !important;
    }
    .mr-#{$index} {
        margin-right: #{$index * $multiplierSpace}rem !important;
    }
    .mb-#{$index} {
        margin-bottom: #{$index * $multiplierSpace}rem !important;
    }
    .p-#{$index} {
        padding: #{$index * $multiplierSpace}rem !important;
    }
    .pl-#{$index} {
        padding-left: #{$index * $multiplierSpace}rem !important;
    }
    .pr-#{$index} {
        padding-right: #{$index * $multiplierSpace}rem !important;
    }
    .pb-#{$index} {
        padding-bottom: #{$index * $multiplierSpace}rem !important;
    }
    .pt-#{$index} {
        padding-top: #{$index * $multiplierSpace}rem !important;
    }
}

.m-auto {
    margin: auto !important;
}

.mt-auto {
    margin-top: auto !important;
}

.mr-auto {
    margin-right: auto !important;
}

.ml-auto {
    margin-left: auto !important;
}

.mb-auto {
    margin-bottom: auto !important;
}

.p-auto {
    padding: auto !important;
}
.pl-auto {
    padding-left: auto !important;
}

.pt-auto {
    padding-top: auto !important;
}

.pr-auto {
    padding-right: auto !important;
}

.pb-auto {
    padding-bottom: auto !important;
}
