blockquote,
body,
dd,
dl,
dt,
fieldset,
figure,
h1,
h2,
h3,
h4,
h5,
h6,
hr,
html,
iframe,
legend,
li,
ol,
p,
pre,
textarea,
ul {
    margin: 0;
    padding: 0;
}
body,
button,
input,
optgroup,
select,
textarea {
    font-family: $fontFamily;
}

.has-text-weight-light {
    font-weight: 300 !important;
}

.has-text-centered {
    text-align: center !important;
}

.title {
    color: $text-color;
    font-size: 2rem;
    font-weight: 600;
    line-height: 1.125;
}

$maxIterations: 8;
@for $index from 1 to $maxIterations {
    // TODO 7 es 0.75 pero 6 es 1
    .is-size-#{$index} {
        font-size: #{($maxIterations - $index) * $multiplierFont}rem !important;
    }
}
.is-italic {
    font-style: italic !important;
}

.has-text-accent {
    color: $accent !important;
}

.has-text-primary {
    color: $primary !important;
}
