$primary: #00394c;
$accent: #89decd;

$text-color: #363636;

$dark: #363636;
$light: #f5f5f5;
$white: #fff;

$bx-shadow: 0 0.5em 1em -0.125em rgb(10 10 10 / 10%), 0 0 0 1px rgb(10 10 10 / 2%);

$fontSize: 1em;

$b-radius: 4px;

$multiplierSpace: 0.25;
$multiplierFont: 0.5;

$fontFamily: BlinkMacSystemFont, -apple-system, Segoe UI, Roboto, Oxygen, Ubuntu, Cantarell, Fira Sans, Droid Sans,
    Helvetica Neue, Helvetica, Arial, sans-serif;
