@import "~bulma/sass/utilities/derived-variables";
@import "~bulma/sass/utilities/functions";

// Set your colors
$primary: #00394c;
$primary-light: findLightColor($primary);
$primary-dark: findDarkColor($primary);
$primary-invert: findColorInvert($primary);

$accent: #89decd;
$accent-light: findLightColor($accent);
$accent-dark: findDarkColor($accent);
$accent-invert: findColorInvert($accent);

$text: $primary;
// Lists and maps
$custom-colors: (
  'accent': ($accent,$accent-invert, $accent-light, $accent-dark)
) !default;
$custom-shades: null !default;

// Setup $colors to use as bulma classes (e.g. 'is-twitter')
$colors: mergeColorMaps(
  (
    "white": (
      $white,
      $black,
    ),
    "black": (
      $black,
      $white,
    ),
    "light": (
      $light,
      $light-invert,
    ),
    "dark": (
      $dark,
      $dark-invert,
    ),
    "primary": (
      $primary,
      $primary-invert,
      $primary-light,
      $primary-dark,
    ),
    "link": (
      $link,
      $link-invert,
      $link-light,
      $link-dark,
    ),
    "info": (
      $info,
      $info-invert,
      $info-light,
      $info-dark,
    ),
    "success": (
      $success,
      $success-invert,
      $success-light,
      $success-dark,
    ),
    "warning": (
      $warning,
      $warning-invert,
      $warning-light,
      $warning-dark,
    ),
    "danger": (
      $danger,
      $danger-invert,
      $danger-light,
      $danger-dark,
    ),
  ),
  $custom-colors
);

// Links
$link: $accent;
$link-invert: $accent-invert;
$link-focus-border: $accent;
$link-hover: $accent-dark;

// Import Bulma and Buefy styles
