---
const props = Astro.props
---
<style lang="scss">
@import '../scss/variables';
.box {
  background-color: $white;
  border-radius: $b-radius;
  box-shadow: $bx-shadow;
  color: $primary;
  display: block;
}
</style>

<div class={`box p-5 ${props.class}`}>
  <slot/>
</div>