---
import { linkedinUrl, githubUrl, author } from "../data/site.json";
import Button from "./ui/Button.astro";
---

<footer class="bg-slate-200 py-10 text-accent">
  <div class="text-center">
    <p class="mb-3">
      <Button variant="ghost" href={linkedinUrl}>{author}</Button>
    </p>
    <Button href={linkedinUrl} variant="ghost" aria-label="linkedin">
      <i class="devicon-linkedin-plain text-2xl"></i>
    </Button>

    <Button href={githubUrl} variant="ghost" aria-label="github">
      <i class="devicon-github-original text-2xl"></i>
    </Button>
  </div>
</footer>
