---
import { author, linkedinUrl, githubUrl, aboutMe } from "../data/site.json";
import Box from "./ui/Box.astro";
import Button from "./ui/Button.astro";
---

<header id="header">
  <img
    src="face-primary.png"
    alt="logo"
    class="block m-auto pb-5 w-full max-w-lg"
  />
</header>

<h1 class="text-center font-extralight mb-3 text-4xl">
  Hola! Soy
  <strong class="font-bold text-accent">
    {author}
  </strong>
</h1>
<p class="text-center italic">
  {aboutMe}
</p>
<div class="mt-4 flex flex-row justify-center text-3xl gap-4">
  <Button
    href={linkedinUrl}
    aria-label="linkedin"
    target="_blank"
    rel="noopener noreferrer"
    variant="ghost"
    class="px-0"
  >
    <Box>
      <i class="devicon-linkedin-plain colored"></i>
    </Box>
  </Button>
  <Button
    href={githubUrl}
    target="_blank"
    rel="noopener noreferrer"
    aria-label="github"
    variant="ghost"
    class="px-0"
  >
    <Box>
      <i class="devicon-github-original colored"></i>
    </Box>
  </Button>
</div>
