.section {
    padding: 3rem 1.5rem;
    @media screen and (min-width: 1024px) {
        padding: 3rem;
    }
}

.container {
    flex-grow: 1;
    margin: 0 auto;
    position: relative;
    width: auto;
    @media screen and (min-width: 1024px) {
        max-width: 960px;
    }
}
