@import "./variables.scss";
@import "./scrollbar.scss";
@import "./typography.scss";
@import "./spacing.scss";
@import "./container.scss";
@import "../../node_modules/devicon/devicon.min.css";

// TODO remove import and use "use"
article,
aside,
figure,
footer,
header,
hgroup,
section {
  display: block;
}

body {
  color: #00394c; // TODO variables
  font-size: $fontSize;
  font-weight: 400;
  line-height: 1.5;
}

a {
  color: $accent;
  cursor: pointer;
  text-decoration: none;
}
